{% extends 'HomePage.html' %}
{% load static %}
        {% block css %}
            <link rel="stylesheet" type="text/css" href="{% static 'css/myList_style.css' %}">
            <link rel="stylesheet" type="text/css" href="../static/CSS/detail.css">
            <link rel="stylesheet" type="text/css" href="../static/CSS/switch.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        {% endblock css%}


            {%block content%}
            <div class = "product_card_detail" >
                <div class="close_icon">
                <i class="fa fa-arrow-left fa-lg" aria-hidden="true" onclick="location.href='{% url 'homePage' %}'">  back</i>
                    <br>

                </div>
                <div class="product_img_detail">
                    <img src="static/images/{{ product.product_image }}" width="450" height="450"/>
                </div>
                <div class="product_info_detail">
                    <div class="product_title_detail">
                        <p>{{ product.product_info.product_name }}</p>
                    </div>

                    <div class="product_feature_detail">
                        <div class="feature_info_detail price_detail">
                            <p>£ {{ product.product_info.product_price }}</p>
                        </div>
                    </div>

                    <br><br>

                    <div class="product_feature_detail">
                        <div class="feature_info_detail">
                            <p><strong>Seller: </strong>{{ product.product_info.user_name }}</p>
                        </div>
                    </div>

                    <div class="space_detail">
                        <p>&nbsp;&nbsp;</p>
                    </div>

                    <br>

                    <div class="product_feature_detail">
                        <div class="feature_info_detail">
                            <p><strong>Pickup address: </strong>{{ product.product_info.product_location }}</p>
                        </div>
                    </div>

                    <div class="space_detail">
                        <p>&nbsp;&nbsp;</p>
                    </div>

                    <br>

                    <div class="product_feature_detail">
                        <div class="feature_info_detail">
                            <p><strong>Best Before: </strong>{{ product.product_info.product_expiryDate }}</p>
                        </div>
                    </div>

                    <br>

                    <div class="product_feature_detail">
                        <div class="feature_info_detail">
                            <p class="description_detail">Description:</p>
                        </div>
                    </div>

                    <br>

                    <div class="product_feature_detail">
                        <div class="feature_info_detail content_detail">
                            <p>{{ product.product_info.product_details }}
                            </p>
                        </div>
                    </div>

                    <br><br>

                    <div class="product_feature_detail">
                        <div class="feature_info_detail" >
                            <p class="show" >Show to public</p>
                            <label class="switch" >
                                <input type="checkbox" checked>
                                <span class="slider round"></span>
                            </label>

                        </div>
                    </div>
                </div>
            </div>

            <script>
                var checkbox = document.querySelector('input[type=checkbox]');
                var visibility = '{{product.product_info.product_visibility}}';
                var product_id = '{{product.product_id}}';
                if (visibility == 'True') {
                    checkbox.checked = true;
                }
                else {
                    checkbox.checked = false;
                }
                        
  
                checkbox.addEventListener('change', function() {
                    
                    $.ajax({
                        url: '{% url 'changeVisibility' %}',
                        type: 'POST',
                        data: {
                            'visibility': checkbox.checked,
                            'product_id': product_id,
                            'action': 'post'
                        },
                        success: function(json) {
                            console.log(1);
                        }
                    });

                });
            </script>
        {% endblock %}
