{% extends 'base.html' %}

{% block main %}
{#    <div>#}
{#        <div class="heading">#}
{#            MY INFO#}
{#        </div>#}
{##}
{#    </div>#}

    <h2 >Edit Product</h2>
    <hr />
    <form action = "/administration/edit/{{ item.product_id }}/product/" method="post">
        <table class="profile-table"  >
            <tr >
                <td>ID</td>
                <td>
                    {{ item.product_id }}
                </td>
            </tr>

            <tr>
                <td>Seller</td>
                <td>
                    {{ item.product_info.user_name }}
                </td>
            </tr>

            <tr>
                <td>Category</td>
                <td>
                    {{ item.product_category }}
                </td>
            </tr>

            <tr>
                <td>Item</td>
                <td>
                    <input type="text" name="name" value="{{ item.product_info.product_name }}"/>
                </td>
            </tr>

            <tr>
                <td>Details</td>
                <td>
                    <input type="text" name="details" value="{{ item.product_info.product_details }}"/>
                </td>
            </tr>

            <tr>
                <td>Expiry Date</td>
                <td>
                    <input type="text" name="date" value="{{ item.product_info.product_expiryDate }}"/>
                </td>
            </tr>

            <tr>
                <td>Price</td>
                <td>
                    <input type="text" name="price" value="{{ item.product_info.product_price }}"/>
                </td>
            </tr>

            <tr>
                <td>Pickup Location</td>
                <td>
                    <input type="text" name="location" value="{{ item.product_info.product_location }}"/>
                </td>
            </tr>




        </table>

            <input class="btn" type="submit" name="save" value="Save" />


		</form>


{% endblock %}