{% extends 'base.html' %}

{% block main %}
    <div>
        <div class="search-div">
				<form class="layui-form layui-col-md12 we-search">
					<div style="display: inline-block">
						<input class="search-input" placeholder="Seller Id" name="start" id="start">
					</div>
                    <div style="display: inline-block">
						<input class="search-input" placeholder="Buyer Id" name="end" id="end">
					</div>
                    <div style="display: inline-block">
						<input type="text" name="username" placeholder="Product Name" autocomplete="off" class="search-input">
					</div>

					<button class="btn" lay-submit="" lay-filter="sreach">
						Search
					</button>
				</form>
        </div>


        <table class="table-style" id="memberList">
            <thead>
                <tr>
                    <th>
                        <input type="checkbox" id="selectall-checkbox"/>
                    </th>
                    <th>Order Id</th>
                    <th>Product Name</th>
                    <th>Seller</th>
                    <th>Buyer</th>
                    <th>Total Amount</th>
                    <th>Collection Location</th>
                    <th>Order Time</th>
                    <th>Operations</th>
                </tr>
            </thead>
            <tbody id="tbody">
                {% for order in order_list %}
                <tr data-id={{ order.order.order_id }}>
                    <td>
                        <input type="checkbox"/>
                    </td>

                        <td>{{ order.order.order_id }}</td>
                        <td>{{ order.product.product_info.product_name }}</td>
                        <td>{{ order.product.product_info.user_name }}</td>
                        <td>{{ order.order.user }}</td>
                        <td>{{ order.order.total_paid }}</td>
                        <td>{{ order.product.product_info.product_location }}</td>
                        <td>{{ order.order.created }}</td>

                    <td>
                        <a onclick="if(confirm('Do you confirm to delete order \'{{ order.order.order_id }}\'?'))
                            window.location.href='{% url 'order_delete' %}?del_order={{ order.order.order_id }}'">
                            <i class="fa fa-trash" aria-hidden="true"></i></a>
                    </td>
                </tr>

                {% endfor %}
            </tbody>
        </table>

        <div class="page-div">
            <div>
                <a class="prev" href="">&lt;&lt;</a>
                <a class="current" href="">1</a>
{#                <a class="num" href="">2</a>#}
{#                <a class="num" href="">3</a>#}
{#                ...#}
{#                <a class="num" href="">489</a>#}
                <a class="next" href="">&gt;&gt;</a>
            </div>
        </div>
    </div>

    <script>
        //select all
        var selectall = document.getElementById('selectall-checkbox'); // Get the select all checkbox in <thead>
        var checkboxes = document.getElementById('tbody').getElementsByTagName('input'); // Get all checkboxes in <tbody>
        selectall.onclick = function () {
            for(var i = 0; i < checkboxes.length; i++) {
                checkboxes[i].checked = this.checked;
            }
        }

        for(var i = 0; i < checkboxes.length; i++) {
            checkboxes[i].onclick = function () {
                var flag = true;
                for(var i = 0; i < checkboxes.length; i++) {
                    if (!checkboxes[i].checked) {
                        flag = false;
                        break;
                    }
                }
                selectall.checked = flag;
            }
        }
    </script>
{% endblock %}